.listContainer {
    padding: 20px 10px;
    margin-bottom: 36px;
    margin-top: 32px;
}

.listInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.desc {
    color: #777;
    font-style: 15px;
}